<div class="container">

  <div class="card m-5">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
    <app-offer></app-offer>
  </div>


  <div class="row m-5">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>CARACTERISTICAS</th>
            <th>NOMBRE PRECIO</th>
            <th>MONTO</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>

</div>