<div class="card">
  <select  class="m-5"name="" id="" [(ngModel)]="ofertas" (change)="offerChange($event)">
      <option *ngFor="let oferta of ofertas" [ngValue]="oferta[0].id" #Offer>
          {{oferta[0].name}}
      </option>
  </select> 
  
  <div class="row" >
      <div class="col-2">
        <p class="text-dark">ID OFERTA:</p>                    
      </div>
      <div class="col-2"></div>
        <p>{{offerValue}}</p>        
    </div>
    <div class="row">
      <div class="col-2">NOMBRE OFERTA: </div>
      <div class="col-2"><input type="text"></div>
    </div>


</div>




